<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="initial-scale=1.0,width=device-width" />
		<title>Mdbrd</title>
		<link rel="stylesheet" href="css/style.css">

	</head>
	<body>

		<div id="contents">
    		<div id="mdbrdView">
        		<span id="full"><i class="icon-chevron-left"></i> <i class="icon-chevron-right"></i></span>
				<div class="bigShots"></div>
			</div>
			
			<div id="searchView">
				<div id="tools">
					<a id="save" href="#"><i class="icon-save"></i></a>
					<a id="clear" href="#"><i class="icon-trash"></i></a>
				</div>
				<h1>Start your search</h1>
	
				<form method="post" action="" id="search" name="mdbrdSearch" onsubmit="return false">
					<input id="entrybox" type="text" name="search" value="" placeholder="Search&hellip;">	
				</form>
				<ul id="results"></ul>	

			</div>
		</div>
	

		<!-- Templates -->
		
		<!-- ======== Search Results Template =======  -->
		<script type="text/template" id="shot-template">
			<a href="#">
				<img src="<%= url %>" alt="<%= alt %>">
				<span></span>
			</a>
		</script>
		
		<!-- ======== Mdbrd View Template =======  -->
		<script type="text/template" id="mdbrdview-template">
			<div id="mdbrdView">
				<div></div>
			</div>
		</script>
		
		<!-- ======== Large Mdbrd Shot Template =======  -->
		<script type="text/template" id="fullshot-template">
			<div data-shotid="<%= shotId %>">
				<img src="<%= bigImage %>" alt="<%= img.alt %>" width="400" height="300">
				<div class="options">
					<a class="trash" href="#"><i class="icon-trash"></i></a>
					<a class="link" href="http://dribbble.com<%= href %>" target="_blank" ><i class="icon-info-sign"></i></a>
				</div>
			</div>
		</script>

		<script src="includes/jquery-1.9.0.min.js"></script>
		<script src="includes/underscore-min.js"></script>
		<script src="includes/backbone-min.js"></script>
        <script src="app/mdbrd.js"></script>
        <script src="app/mdbrdview.js"></script>
        <script src="app/searchview.js"></script>
        <script src="app/shots.js"></script>
        <script src="app/appview.js"></script>

	</body>

	
</html>